{#
/**
 * @file
 * Default theme implementation for filelog help.
 */
#}
<p>{{ title }}</p>
<dl>
  {% for label, desc in rows %}
    <dt>
      <code>[{{ label_prefix }}{{ label }}]</code>
      {% if desc.suffix %}
        {% for suffix in desc.suffix %}
          <code>[{{ label_prefix }}{{ label }}{{ suffix }}]</code>
        {% endfor %}
        {% set desc = desc.description %}
      {% endif %}
    </dt>
    <dd>{{ desc }}</dd>
  {% endfor %}
</dl>
