<section id="last-section" class="last-section"></section>
<!-- Start: Footer -->
<footer id="footer">
	<div class="footer">
		<div class="container">
			{% if page.footer_top %}
				<section class="footer-top">
					{{ page.footer_top }}
				</section>
			{% endif %}
			<!-- /footer-top -->
			{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
				<section class="footer-blocks">
					{% if page.footer_first %}
						<div class="footer-block">
							{{ page.footer_first }}
						</div>
					{% endif %}
					<!--/footer-first -->
					{% if page.footer_second %}
						<div class="footer-block">
							{{ page.footer_second }}
						</div>
					{% endif %}
					<!--/footer-second -->
					{% if page.footer_third %}
						<div class="footer-block">
							{{ page.footer_third }}
						</div>
					{% endif %}
					<!--/footer-third -->
					{% if page.footer_fourth %}
						<div class="footer-block">
							{{ page.footer_fourth }}
						</div>
					{% endif %}
					<!--/footer-fourth -->
				</section>
				<!--/footer-blocks -->
			{% endif %}
			{# end if for footer one, two, three, four blocks #}
			{% if copyright_text or all_icons_show %}
				<section class="footer-bottom-middle">
					{% if copyright_text %}
						<div class="copyright">
							<drupal-media data-entity-type="media" data-entity-uuid="35c5204c-e015-4601-857e-96045f9fc6fc" data-align="center">&nbsp;</drupal-media>

							{{ drupal_entity('block', 'pbtara_footerlogo') }}

							&copy;
							{{ "now"|date("Y") }}
							{{ site_name }}, All rights reserved.
						</div>
					{% endif %}
					<!-- end if for copyright -->
					{% if all_icons_show %}
						<div class="footer-bottom-middle-right">
							{{ drupal_menu('footer') }}

							{% include '@pbtara/template-parts/social-icons.html.twig' %}
						</div>
					{% endif %}
					<!-- end if for all_icons_show -->
				</section>
				<!-- /footer-bottom-middle -->
			{% endif %}
			<!-- end condition if copyright or social icons -->

      {# Footer bottom content blocks #}
        <section class="footer-bottom-middle">
            <div class="copyright">
              <drupal-media data-entity-type="media" data-entity-uuid="35c5204c-e015-4601-857e-96045f9fc6fc" data-align="center">&nbsp;</drupal-media>
              {# {{ drupal_entity('block', 'pbtara_footerlogo') }} #}
              {{ drupal_entity('block_content', '46') }}
            </div>
          <!-- end if for copyright -->
            <div class="footer-bottom-middle-right">
              {{ drupal_menu('footer') }}
            </div>
          <!-- end if for all_icons_show -->
        </section>
      {# Footer bottom content blocks #}

			{% if page.footer_bottom %}
				<div class="footer-bottom">
					{{ page.footer_bottom }}
				</div>
				<!--/.footer-bottom -->
			{% endif %}
			<!-- end condition for footer_bottom -->
		</div>
		<!-- /.container -->
	</div>
	<!--/.footer -->
</footer>
{% if scrolltotop_on %}
	<div class="scrolltop">
		<i class="icon-arrow-up" aria-hidden="true"></i>
	</div>
{% endif %}
{% if fontawesome_four %}
	{{ attach_library('tara/fontawesome4') }}
{% endif %}
{% if fontawesome_five %}
	{{ attach_library('tara/fontawesome5') }}
{% endif %}
{% if fontawesome_six %}
	{{ attach_library('tara/fontawesome6') }}
{% endif %}
{% if bootstrapicons %}
	{{ attach_library('tara/bootstrap-icons') }}
{% endif %}
