<div id="tbm-admin-mm-toolcol" class="admin-toolbox">
  <h3>{{ 'Column Configuration'|t }}(<a href="#" class="back-megamenu-toolbox">{{ 'MegaMenu Toolbox'|t }}</a>)</h3>
  <p>{{ 'Add, remove and configure columns.'|t }}</p>
  <div class="tbm-tools-container">
    <div>
      <label class="hasTip" aria-label="{{ 'Add/remove column'|t }} - {{ 'Click + to add a new column to the right of the selected column. Click - to remove the selected column.'|t }}">{{ 'Add/remove column'|t }}</label>
      <fieldset class="btn-group">
        <a href="" class="btn toolcol-addcol toolbox-action first" data-action="addColumn" title="{{ 'Add a new column to the right of the selected column.'|t }}">&plus;</a>
        <a href="" class="btn toolcol-removecol toolbox-action last" data-action="removeColumn" title="{{ 'Remove the selected column.'|t }}">&minus;</a>
      </fieldset>
    </div>
    <div>
      <label class="hasTip" aria-label="{{ 'Move row up/down'|t }} - {{ 'Click up to move the selected row up. Click down to move the selected row down.'|t }}">{{ 'Move row up/down'|t }}</label>
      <fieldset class="btn-group">
        <a href="" class="btn toolcol-addcol toolbox-action first" data-action="rowUp" title="{{ 'Move the selected row up.'|t }}">&uarr;</a>
        <a href="" class="btn toolcol-removecol toolbox-action last" data-action="rowDown" title="{{ 'Move the selected row down.'|t }}">&darr;</a>
      </fieldset>
    </div>
    <div>
      <label class="hasTip" aria-label="{{ 'Hide on mobile'|t }} - {{ 'Hide this column below the mobile breakpoint.'|t }}">{{ 'Hide on mobile'|t }}</label>
      <fieldset class="radio btn-group toolcol-hidewhencollapse">
        <input type="radio" id="toggleHideWhenCollapse0" class="toolbox-toggle" data-action="hideWhenCollapse" name="toggleHideWhenCollapse" value="0" checked="checked"/>
        <label for="toggleHideWhenCollapse0" title="{{ 'Show this column on mobile.'|t }}">{{ 'No'|t }}</label>
        <input type="radio" id="toggleHideWhenCollapse1" class="toolbox-toggle" data-action="hideWhenCollapse" name="toggleHideWhenCollapse" value="1"/>
        <label for="toggleHideWhenCollapse1" title="{{ 'Hide this column on mobile.'|t }}">{{ 'Yes'|t }}</label>
      </fieldset>
    </div>
    <div id="tbm-grid-wrapper">
      <label aria-label="{{ 'Grid (1-12)'|t }} - {{ 'Set the number of grid columns that the selected column should span.'|t }}" class="hasTip">{{ 'Grid (1-12)'|t }}</label>
      <select class="toolcol-width toolbox-input toolbox-select input-mini" name="toolcol-width" data-name="width">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>
    <div id="tbm-block-wrapper">
      <label aria-label="{{ 'Blocks'|t }} - {{ 'Place a block in the selected column.'|t }}" class="hasTip">{{ 'Blocks'|t }}</label>
      <select class="toolcol-block toolbox-input toolbox-select input-medium" name="toolcol-block" data-name="block" data-placeholder="{{ 'Select Block'|t }}" style="width: 200px;">
        <option value=""></option>
        {% for block_id, block in blocks_options %}
          <option value="{{ block_id }}"> {{ block }} </option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label class="hasTip" aria-label="{{ 'Show the block title.'|t }}">{{ 'Show block title'|t }}</label>
      <fieldset class="radio btn-group toolcol-showblocktitle">
        <input type="radio" id="toggleShowBlockTitle0" class="toolbox-toggle" data-action="showBlockTitle" name="toggleShowBlockTitle" value="0"/>
        <label for="toggleShowBlockTitle0">{{ 'No'|t }}</label>
        <input type="radio" id="toggleShowBlockTitle1" class="toolbox-toggle" data-action="showBlockTitle" name="toggleShowBlockTitle" value="1" checked="checked"/>
        <label for="toggleShowBlockTitle1">{{ 'Yes'|t }}</label>
      </fieldset>
    </div>          
    <div>
      <label aria-label="{{ 'CSS class'|t }} - {{ 'Attach a custom CSS class to this column.'|t }}" class="hasTip">{{ 'CSS class'|t }}</label>
      <input type="text" class="input-medium toolcol-exclass toolbox-input" name="toolcol-exclass" data-name="class" value="" />
    </div>
  </div>
</div>    
