<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="{{ facebook_url }}" target="_blank" aria-label="Facebook page"><i class="icon-facebook" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if twitter_url != '' %}
    <li><a href="{{ twitter_url }}" target="_blank" aria-label="Twitter Page"><i class="icon-twitter" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="{{ instagram_url }}" target="_blank" aria-label="Instagram page"><i class="icon-instagram" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if linkedin_url != '' %}
    <li><a href="{{ linkedin_url }}" target="_blank" aria-label="Linkedin page"><i class="icon-linkedin" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if youtube_url != '' %}
    <li><a href="{{ youtube_url }}" target="_blank" aria-label="YouTube Page"><i class="icon-youtube" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if vimeo_url != '' %}
    <li><a href="{{ vimeo_url }}" target="_blank" aria-label="Vimeo page"><i class="icon-vimeo" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if vk_url != '' %}
    <li><a href="{{ vk_url }}" target="_blank" aria-label="vk.com page"><i class="icon-vk" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if whatsapp_url != '' %}
    <li><a href="{{ whatsapp_url }}" target="_blank" aria-label="WhatsApp Us"><i class="icon-whatsapp" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if github_url != '' %}
    <li><a href="{{ github_url }}" target="_blank" aria-label="GitHub Page"><i class="icon-github" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if telegram_url != '' %}
    <li><a href="{{ telegram_url }}" target="_blank" aria-label="Telegram page"><i class="icon-telegram" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
